engine-strict=true
auto-install-peers=true
shamefully-hoist=true
enable-pre-post-scripts=true
auto-install-peers=true
public-hoist-pattern[]=*prisma*
trusted-dependencies[]=@prisma/client
trusted-dependencies[]=@prisma/engines
trusted-dependencies[]=prisma
trusted-dependencies[]=esbuild
trusted-dependencies[]=@parcel/watcher
